<!-- <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6 pt-5">
                <h1 class="card-title text-center">Web developer</h1>
                <h5 class="p-2 text-card">
                    Hardworking
                    College Student of Computer Systems Engineer at ITESO.
                    Bringing forth a motivated attitude and a variety of powerful skills. Adept in various social
                    media platforms and office technology programs. Committed to utilizing my
                    skills to further the mission of a company.
                </h5>
                <h5 class="p-2 text-card">
                    This site was created to show my work and skills experience, under I present the points than I’ll
                    cover
                </h5>
                <ul class="list-unstyled p-2">
                    <li class="media">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Work experience</h5>
                        </div>
                    </li>
                    <li class="media my-4">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Technologies and Skills</h5>                          
                        </div>
                    </li>
                    <li class="media my-4">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Certificates</h5>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Hobby’s</h5>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-6 ">
                <img src="../../../assets/profile.jpeg" alt="profile.jpg" class="rounded col-6">
            </div>
        </div>
    </div>
</div> -->

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="pt-5">
                <h1 class="card-title text-center">Pagina de incio</h1>
                <h5>
                    Esta plataforma tiene el proposito de hacer gestion de alumnos
                </h5>
            </div>
        </div>
    </div>
</div>