<table class="table" *ngIf="$userData | async as userData; else showLoadState">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#ID de alumno</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Genero</th>
      <th scope="col">Edad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users ">
      <th scope="row">{{user.id}}</th>
      <td>{{user.firstName }}</td>
      <td>{{user.lastName}}</td>
      <td [ngStyle]="{'background-color':user.gender === 'Masculino' ? 'whitesmoke' : 'pink' }">{{user.gender}}</td>
      <td>{{user.age}}</td>

      <button mat-icon-button color="black" [routerLink]="['student/'+user.id]">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="black" (click)="deleteStudent(user)">
        <mat-icon>delete</mat-icon>
      </button>

    </tr>
  </tbody>
</table>

<ng-template #showLoadState>
  <div class="row justify-content-center p-5 text-center">
    <mat-spinner></mat-spinner>
    <span class="p-2">Cargando...</span>
  </div>
</ng-template>

<div class="col">
  <router-outlet></router-outlet>
</div>